<h1>About</h1>

<!--///////////////////////////////////////////////////////
       // About section 
       //////////////////////////////////////////////////////////-->


  <div class="about-parlex" id="about">
    <section class="parlex7-back">
      <div class="w-container">
        <div id="about-animation">
        <div class="wrap">
          <div class="about">
            <h1 class="about-heading">ABOUT</h1>
            <div class="about-text">WHO WE ARE ?</div>
            <div class="sepreater"></div>
          </div>
          <p class="about-des">We are Elegance. We create stunning identities for our clients that people fall in love with.&nbsp;
            <br>Whether it's an app icon, a logo for a hot startup, or just an illustration, we'll work hard until you can't help but say "WOW!". 
          </p>
          <img class="about-img" src="images/about.png"
          alt="52de15aa5d3566c14300015e_about.png">
        </div>
      </div>
      </div>
    </section>
  </div>


<!--///////////////////////////////////////////////////////
       // End about section 
       //////////////////////////////////////////////////////////-->